<div class="action-block-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3><span class="fa fa-plus add"></span>Add people to show</h3>
            </div>
        </div>
    </div>
</div>

<section class="show featured">
<div class="container-fluid" ng-cloak>
    <div class="listing">
        <div class="row">
            <div class="col-md-12">
                <img src="{{showDetail.image}}" />
                <div class="listing-content">
                    <h2>{{showDetail.name}} Name</h2>
                    <p>{{showDetail.status}}Status</p>
                    <p>{{showDetail.seasons}} seasons</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="add-people listings">
        <div class="listing" ng-repeat="person in people">
            <div class="row">
                <div class="col-md-12">
                    <div class="listing-content">
                        <div class="people">
                            <span>
                                <img src="{{person.image}}" title="person.name" />
                            </span>
                            <h2 >{{person.name}}</h3>
                            <div class="actions">
                                <span ng-if="person.isAdded" ng-click="addPerson(person)" class="fa fa-remove">-</span>
                                <span ng-if="typeof(person.isAdded) != 'undefined' && !person.isAdded" ng-click="removePerson(person)" class=" fa fa-plus add"></span>
                            </div>  
                        </div>                        
                    </div> 
                </div>

            </div>
        </div>
    </div>
</section>
                

<div class="action-block-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3><span class="fa fa-check save"></span>Save &amp; Close</h3>
            </div>
        </div>
    </div>
</div>