<header class="darker">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<h3><span class="glyphicon glyphicon-plus"></span>Add a show</h3>
			</div>
		</div>
	</div>
</header>

<section class="main-content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="search-bar">
					<input type="text" class="form-control" placeholder="Search for a show ..." />
				</div>
			</div>
		</div>
	</div>
</section>

<section class="search-listing">
	<div class="container-fluid">
		<div class="listing">
			<div class="row">
				<div class="col-md-12">
					<img src="http://placehold.it/100x130"/>
					<div class="listing-content">
						<h3>Show title</h3>
						<p>Show details</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>