
<div class="action-block-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3><span class="fa fa-plus"></span>Add a show</h3>
            </div>
        </div>
    </div>
</div>

<section class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="search-bar">
                    <input type="text" class="form-control" ng-model="textBoxInput" placeholder="Search for a show ..." />
                    <button class="fa fa-search" ng-disabled="textBoxInput.length == 0" ng-click="searchShows()"></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="listings search">
    <div class="container-fluid">
        <div class="listing" ng-repeat="show in searchResults">
            <a href="#/add/{{show.showid}}">
                <div class="row">   
                    <div class="col-md-12">
                        <img ng-src="http://images.tvrage.com/shows/3/{{show.showid}}.jpg" />
                        <div class="listing-content">
                            <h2>{{show.name}}</h2>
                            <p>{{show.status}}</p>
                            <p>{{show.seasons}} seasons</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>       
    </div>
</section>