
<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <span class="r fa fa-arrow-left"></span>
                <h1>Episode List</h1>
            </div>
        </div>
    </div>
</header>


<section class="show">
	<div class="container-fluid">
        <!-- What show? -->
        <div class="listing featured">
            <div class="row">
                <div class="col-md-12">
                    <img ng-src="http://images.tvrage.com/shows/3/{{show.showid}}.jpg" />
                    <div class="listing-content">
                        <h2>Thursday 19th June 2015</h2>
                        <p>Information about the show goes here. It gives a brief intro to the show</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End -->  
	</div>
</section>

<section class="chat episodes">
    <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
    <h2>S01 E03 - History</h2>

    <div class="chat-bubble clearfix">
        <div class="people">
            <span>
                <img src="http://d.ibtimes.co.uk/en/full/1356833/founder-microsoft-bill-gates-speaks-stage-clinton-global-initiative-2013-cgi-new-york.jpg?" title="Chat bubble" />
                
            </span>
        </div>
        <div class="bubble">
            All set?
        </div>
    </div>
    <div class="chat-bubble clearfix">
        <div class="people">
            <span>
                <img src="http://d.ibtimes.co.uk/en/full/1356836/number-3-russias-president-vladimir-putin-poses-picture-he-fishes-krasnoyarsk-territory.jpg?w=500" title="Chat bubble" />
            </span>
        </div>
        <div class="bubble">
            Yeah. 2 minutes
        </div>
    </div>
    <div class="chat-bubble clearfix">
        <div class="people">
            <span>
                <img src="http://d.ibtimes.co.uk/en/full/1356836/number-3-russias-president-vladimir-putin-poses-picture-he-fishes-krasnoyarsk-territory.jpg?w=500" title="Chat bubble" />

            </span>
        </div>
        <div class="bubble">
            Oh no, I misse the first 5 minutes
        </div>
    </div>
</div>
</div>
</div>
<section>