<html ng-app="watercooler">
<head>
    <title>Watercooler</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
    <script src="/js/main.js"></script>
    <link href="/css/bootstrap.css" rel="stylesheet"></script>
    <link href="/css/bootstrap.css.map" rel="stylesheet"></script>
</head>

<body ng-controller="mainCtrl">
    <!-- MAIN CONTENT AND INJECTED VIEWS -->
    <div id="main">
        <div ng-view></div>
        </div>
</body>
</html>